@font-face {
  font-family: "iconfont"; /* Project id 4430018 */
  src: url('iconfont.woff2?t=1707127563303') format('woff2'),
       url('iconfont.woff?t=1707127563303') format('woff'),
       url('iconfont.ttf?t=1707127563303') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tree:before {
  content: "\e65e";
}

.icon-home:before {
  content: "\e633";
}

.icon-hurry:before {
  content: "\e69d";
}

.icon-waring:before {
  content: "\e7b2";
}

.icon-succeed:before {
  content: "\e603";
}

.icon-star:before {
  content: "\e608";
}

.icon-error:before {
  content: "\e6c6";
}

.icon-close:before {
  content: "\e6ac";
}

.icon-min:before {
  content: "\e7fd";
}

.icon-max:before {
  content: "\e62d";
}

.icon-role:before {
  content: "\e612";
}

.icon-money:before {
  content: "\e84b";
}

.icon-japanese:before {
  content: "\e621";
}

.icon-chinese:before {
  content: "\e853";
}

.icon-sport:before {
  content: "\e65d";
}

.icon-time:before {
  content: "\e602";
}

.icon-item:before {
  content: "\e649";
}

.icon-search:before {
  content: "\e639";
}

.icon-right:before {
  content: "\e63c";
}

.icon-down:before {
  content: "\e7f5";
}

.icon-up:before {
  content: "\e7f6";
}

.icon-left:before {
  content: "\e7f7";
}

.icon-apps:before {
  content: "\e6c1";
}

.icon-menu:before {
  content: "\e7f4";
}

.tree {
  @extend .iconfont;
  @extend .icon-tree;
}

.home {
  @extend .iconfont;
  @extend .icon-home;
}

.hurry {
  @extend .iconfont;
  @extend .icon-hurry;
}

.waring {
  @extend .iconfont;
  @extend .icon-waring;
}

.succeed {
  @extend .iconfont;
  @extend .icon-succeed;
}

.star {
  @extend .iconfont;
  @extend .icon-star;
}

.error {
  @extend .iconfont;
  @extend .icon-error;
}

.close {
  @extend .iconfont;
  @extend .icon-close;
}

.min {
  @extend .iconfont;
  @extend .icon-min;
}

.max {
  @extend .iconfont;
  @extend .icon-max;
}

.role {
  @extend .iconfont;
  @extend .icon-role;
}

.money {
  @extend .iconfont;
  @extend .icon-money;
}

.japanese {
  @extend .iconfont;
  @extend .icon-japanese;
}

.chinese {
  @extend .iconfont;
  @extend .icon-chinese;
}

.sport {
  @extend .iconfont;
  @extend .icon-sport;
}

.time {
  @extend .iconfont;
  @extend .icon-time;
}

.item {
  @extend .iconfont;
  @extend .icon-item;
}

.search {
  @extend .iconfont;
  @extend .icon-search;
}

.right {
  @extend .iconfont;
  @extend .icon-right;
}

.down {
  @extend .iconfont;
  @extend .icon-down;
}

.up {
  @extend .iconfont;
  @extend .icon-up;
}

.left {
  @extend .iconfont;
  @extend .icon-left;
}

.apps {
  @extend .iconfont;
  @extend .icon-apps;
}

.menu {
  @extend .iconfont;
  @extend .icon-menu;
}
