@use "../root.module";

.page, .content {
  border-radius: 6px;
}

.list {
  $size-icon: 39px;
  $padding: 12px;
  $gap: $padding; //padding and gap must be same for hide
  // total: 7;
  $row: 3;
  $col: 3;
  @mixin size($r:0, $c: 0) {
    $w: $size-icon;
    @if ($c > 0) {
      $w: $size-icon * $c + ($c - 1) * $gap + 2 * $padding;
    }
    $h: $size-icon;
    @if ($r > 0) {
      $h: $size-icon * $r + ($r - 1) * $gap + 2 * $padding;
    }
    width: $w;
    height: $h;
  }
  position: absolute;
  left: 0;
  top: 0;
  display: grid;
  grid-template-columns: repeat($col, $size-icon);
  place-content: start;
  place-items: center;
  gap: $gap;
  overflow: hidden;
  @include root.transition-hover(width, height, padding);
  padding: $padding;
  @include size(1, 1);

  &:hover {
    @include size($row, $col);
  }

  .it {
    display: grid;
    place-content: center;
    @include size();
  }
}

.img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 3px;
  cursor: text;
}

.it:not(.it:first-child) .img {
  @include root.hover-shadow(2);
}

$_min: root.$viewport-min;

@media screen and (max-width: $_min), screen and (max-height: $_min) {
  .list {
    width: 0;
    height: 0;
    padding: 0;
  }
}
